In [1]:
%matplotlib qt

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from lls import LLS
import re

In [3]:
data = pd.read_csv("housePrice.csv")
data.head()

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,True,True,True,Shahran,1.850000e+09,61666.67
1,60,1,True,True,True,Shahran,1.850000e+09,61666.67
2,79,2,True,True,True,Pardis,5.500000e+08,18333.33
3,95,2,True,True,True,Shahrake Qods,9.025000e+08,30083.33
4,123,2,True,True,True,Shahrake Gharb,7.000000e+09,233333.33

In [4]:
data["Parking"].replace(["True", "False"], [1, 0], inplace=True)
data["Warehouse"].replace(["True", "False"], [1, 0], inplace=True)
data["Elevator"].replace(["True", "False"], [1, 0], inplace=True)
data

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,True,True,True,Shahran,1.850000e+09,61666.67
1,60,1,True,True,True,Shahran,1.850000e+09,61666.67
2,79,2,True,True,True,Pardis,5.500000e+08,18333.33
3,95,2,True,True,True,Shahrake Qods,9.025000e+08,30083.33
4,123,2,True,True,True,Shahrake Gharb,7.000000e+09,233333.33
...,...,...,...,...,...,...,...,...
3468,86,2,True,True,True,Southern Janatabad,3.500000e+09,116666.67
3469,83,2,True,True,True,Niavaran,6.800000e+09,226666.67
3470,75,2,False,False,False,Parand,3.650000e+08,12166.67
3471,105,2,True,True,True,Dorous,5.600000e+09,186666.67
3472,82,2,False,True,True,Parand,3.600000e+08,12000.00

In [5]:
data['Area'] = data['Area'].astype(str).apply(lambda x: re.sub(',', '', x))
data["Area"] = pd.to_numeric(data["Area"] , errors='coerce')

In [6]:
data.dropna(inplace=True)

In [7]:
exchange_rate_july_2023 = 50000 
data['Price(USD)'] = data['Price'] / exchange_rate_july_2023
data

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,True,True,True,Shahran,1.850000e+09,37000.0
1,60,1,True,True,True,Shahran,1.850000e+09,37000.0
2,79,2,True,True,True,Pardis,5.500000e+08,11000.0
3,95,2,True,True,True,Shahrake Qods,9.025000e+08,18050.0
4,123,2,True,True,True,Shahrake Gharb,7.000000e+09,140000.0
...,...,...,...,...,...,...,...,...
3468,86,2,True,True,True,Southern Janatabad,3.500000e+09,70000.0
3469,83,2,True,True,True,Niavaran,6.800000e+09,136000.0
3470,75,2,False,False,False,Parand,3.650000e+08,7300.0
3471,105,2,True,True,True,Dorous,5.600000e+09,112000.0
3472,82,2,False,True,True,Parand,3.600000e+08,7200.0

In [8]:
most_expensive_houses = data.sort_values(by='Price', ascending=False).head(5).reset_index()
print("Addresses of the 5 most expensive houses:")
print(most_expensive_houses[['Address', 'Price']])

Addresses of the 5 most expensive houses:
      Address         Price
0  Zaferanieh  9.240000e+10
1      Abazar  9.100000e+10
2     Lavasan  8.500000e+10
3  Ekhtiarieh  8.160000e+10
4    Niavaran  8.050000e+10

In [9]:
def lower_upper(x):
    Q1 = np.percentile(x, 25)
    Q3 = np.percentile(x, 75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    
    return lower, upper

lower_area, upper_area = lower_upper(data['Area'])
lower_price, upper_price = lower_upper(data['Price'])

In [10]:
area_outliers = np.where(data['Area'] > upper_area)
price_outliers = np.where(data['Price'] > upper_price)

total_outliers = np.union1d(area_outliers, price_outliers)

In [11]:
data = data.drop(total_outliers)

In [12]:
address_dummy = pd.get_dummies(data['Address'])
data = data.merge(address_dummy, left_index = True, right_index = True)
data.drop(columns = ["Address", "Price(USD)"], inplace = True)
data.head(3)

,Area,Room,Parking,Warehouse,Elevator,Price,Abazar,Abbasabad,Absard,Abuzar,...,Waterfall,West Ferdows Boulevard,West Pars,Yaftabad,Yakhchiabad,Yousef Abad,Zafar,Zaferanieh,Zargandeh,Zibadasht
0,63,1,True,True,True,1.850000e+09,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,60,1,True,True,True,1.850000e+09,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,79,2,True,True,True,5.500000e+08,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
from testtrain_split import train_test_split


X = data.drop(columns = 'Price')
y = data['Price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
print(f"shape of x train: {X_train.shape}")
print(f"shape of y train: {y_train.shape}")
print(f"shape of x test: {X_test.shape}")
print(f"shape of y train: {y_test.shape}")

shape of x train: (2471, 195)
shape of y train: (2471,)
shape of x test: (618, 195)
shape of y train: (618,)

In [14]:
X_train = X_train.astype(float)
y_train = y_train.astype(float)

In [15]:
lls = LLS()
weights = lls.fit(X_train, y_train)
print("LLS weights:", weights)

LLS weights: [-2.47077394e+09  6.01353217e+07  7.00488648e+08 -5.70005650e+08
 -1.77479002e+07 -2.25387903e+08  3.36232045e+09  9.53033292e+08
 -2.47321712e+10 -3.68732896e+08 -1.49714284e+09 -1.23523032e+08
 -1.02550805e+09  1.04954127e+10 -8.45621749e+08  1.25756467e-01
  2.10736195e+09 -3.99669569e+09 -9.55199300e+08 -2.67512837e+09
  1.04417780e+10  2.42871955e+09 -8.35349591e+07 -2.24508447e+09
 -1.23836817e+09 -4.19136694e+08 -7.46669746e+08 -4.30026752e+09
  1.35415475e-01 -2.80301055e+09 -8.64037621e+08 -1.44815828e+09
  4.10775773e+08 -2.66035249e+09 -6.50736581e+09  1.65786647e-01
  1.87019018e+09 -1.06622871e+10  2.13596213e+09  4.53194933e+08
  1.53292429e+09 -1.46055064e+09 -1.56468321e+09  4.61898344e+09
 -6.95807442e+08  9.55768455e+09  2.70734226e+08 -5.06253193e+08
  1.34361091e+09  1.71780852e+09  1.42175995e+10 -4.96426111e+08
  2.43580808e-01  1.35880384e+08 -4.84553224e+08  1.01864328e+10
 -1.01854115e+09 -3.50337772e+07 -2.50286958e+09 -2.76408748e+09
  3.94884234e+10  6.19913883e+08  3.11082010e+09 -2.16761700e+09
  1.83165815e+09  2.20116122e+09  1.19538045e+09 -1.11621372e+09
 -2.34518322e+09 -6.45391091e+08  1.92702834e+08 -8.15369167e+08
  4.95899996e+09  9.28097688e+08 -2.52761556e+09 -1.07209387e+09
 -2.43371570e+09 -3.88397711e+09 -1.95146937e+09 -7.73449619e+08
  1.07322277e+09 -2.80385206e+09  8.70746116e+09 -4.34443839e+08
 -5.12875615e+08 -1.21951715e+09 -2.96736614e+09 -4.17965372e+09
 -2.77935044e+08 -1.41180634e+08 -7.63361266e+08  6.47047606e+08
  1.06911298e+10 -3.79844459e+07 -3.54305614e+07  3.54778207e+09
 -2.22093238e+09 -2.07954269e+09  1.49378129e+09 -2.00577357e+00
 -3.54644196e+09 -6.82158812e+08  1.82285266e+09 -3.05940747e+07
 -1.79345875e+09  6.69115289e+08 -2.67088420e+09 -1.15635438e+09
 -1.15398221e+08 -2.91419512e+09  1.14915302e+10  2.01038945e+09
 -2.33057857e+09  1.25053253e+08  2.24278002e+08 -1.28130707e+08
 -6.72401322e+08  2.58212178e+09 -4.40908299e+09 -4.27935247e-01
 -2.97489941e+09 -5.34250437e+08 -3.29302369e+09  2.43001481e+09
 -2.09608405e+09 -4.37717528e+08 -2.81024348e+09  5.49290066e+08
 -1.55830554e+09 -3.11913131e+09 -8.04022202e+08 -1.42374572e+09
 -8.56425297e+08 -1.43396239e+09 -4.04151484e-01  6.31062738e-01
 -1.67440645e+09 -9.32657637e+08 -7.79818850e+08 -3.83631747e+09
  3.33219451e+09 -4.26071823e+09  8.44765012e-01 -1.75585407e+09
  8.17794248e-01 -4.55195294e+09 -5.70986171e+08 -1.05951651e+09
 -6.90480181e+08 -6.75910451e+08 -6.37613641e+09 -1.48133619e+08
 -7.78485342e+08 -8.14871731e+08 -8.40574763e+08  5.24313813e+09
 -3.75154132e+09 -2.80786686e+09 -3.14182770e+09 -8.98834893e+08
  1.40235084e+09  6.30351550e+07 -2.70594007e+09  4.27514911e+08
 -1.63146372e+09 -5.71791151e+08  6.32451665e+08 -3.89499934e+09
  2.13360492e+08  6.26096077e+08  2.71070438e+08 -1.80660795e+09
 -9.23003544e+08 -8.97687483e+08 -1.18641536e+09 -1.11182286e+09
 -4.02892160e-02 -4.97469004e+08 -9.57628691e+04 -3.15043457e+09
 -8.45949235e+08  3.97972469e+10 -4.20454070e+10  1.31922935e+10
  3.60217860e+08 -4.46418773e+08 -8.04380320e+08  4.63450447e+08
 -6.55285631e+08 -1.97856425e+09  2.92843553e+01  1.50154492e+09
  9.39263980e+08  1.31720437e+10  1.48440818e+09  0.00000000e+00]

In [16]:
y_pred_test = lls.predict(X_test)
#y_pred_test = y_pred_test.flatten()
y_pred_test

array([3341496252.750988, 13765129838.373676, 10088923569.71242,
       3582294966.1501265, 3101212392.778447, 1972688339.9783163,
       -109568991.0498352, 6500623438.91834, 14584369976.981445,
       2608844758.2985916, 55811201.43618393, 994750175.7846723,
       1274465679.2670884, 5239097726.055326, 2280939418.341224,
       19028702441.597824, 837570383.165163, 6353762852.348666,
       3931952730.0123024, 16060171245.758455, 4526370705.194829,
       3594158787.6260185, 2706848348.6337996, 1387330002.727189,
       7333865065.270285, 1198382313.193923, 7400131276.899637,
       6967975269.300137, 3247014272.9236307, 895913168.8570023,
       21286392846.478096, 23415305363.41269, 595236560.4997025,
       -1482723942.8890848, -291639881.21192646, 15622124318.055767,
       5707862582.360631, 1040137487.6948853, 18925406015.87857,
       5536320151.653528, 2449999998.794055, 915657566.4305878,
       956048490.5284624, 140410634.00698638, 7000872885.099165,
       3592276011.7147074, 1971889110.5154848, 24440881392.02922,
       -2372059676.198388, 585723720.5205793, 10268013492.489155,
       5039191557.415752, 3499298474.2548265, 2876404524.326293,
       2810516829.9857283, 15283192365.594374, 1788933663.4246187,
       10598746107.95466, 10207077158.148252, 21346528168.149555,
       1596103392.4992723, 3477177706.1674776, 1413591814.247068,
       3584954258.7068233, 28362418352.71136, 10252960556.922901,
       8309718359.539538, 3058500201.799842, 3501377881.0467634,
       2800535784.4211473, 4953561416.224178, 3495462931.191824,
       -2288320270.065301, -544153299.4745646, 2496768909.5743785,
       8244547767.390679, -707996118.6988316, 204741989.06414175,
       -831192851.1073551, 4794982445.143907, 10347315686.969759,
       8064141802.376299, 2131871208.4916239, -1907519201.990831,
       -470380921.07859516, 1198382313.193923, -1906130486.1869793,
       4043277957.5211763, 2620129819.4067674, 11050944692.798101,
       10748946184.647873, 20231408875.027023, 1788819613.4801188,
       234424630.4709425, 418917421.8506088, 38070464199.71947,
       1738370102.8457994, 4360963881.389638, 2058130160.9317236,
       9375251356.357098, 3331202765.206913, 721373992.3775797,
       22774066602.852013, 7241414171.785004, 6124117416.067901,
       6247149647.634031, 53898762.48270416, 2515592594.297533,
       809252816.0267472, 7162111977.3043995, 3982460454.4184427,
       2690246186.642808, 3176501097.810178, 2329256011.0756445,
       4654179841.9790325, 16087753018.767944, 2413027141.105544,
       847139480.0347528, 120020775.66298008, 1319230650.416335,
       13080986935.194946, -2119272733.559723, 4138666244.5535374,
       4141798086.2176123, 1151166109.0100236, 7963038031.842524,
       1238053050.6937227, 1352718978.4196281, 3571744051.8927526,
       2526237477.106393, 2479077412.6319437, 6973811184.126913,
       1268133678.258933, 7522923907.333159, 1877724195.917344,
       3080430629.3465433, 2235276756.1824446, 2714696165.132043,
       -107147089.83226013, 5233663700.111666, 6933108508.837927,
       22123592657.14381, 391683383.7495222, 3401110149.603608,
       3016365241.3067293, 5247049372.7575245, 1395452649.3810759,
       7722496745.156685, 6861435368.9471, 19406488589.25025,
       76936093.52185678, 3495251332.6505213, 10347315686.969759,
       1613562769.2256336, 11772712576.513298, 14572372031.005741,
       8444120605.214205, 2864100813.0920005, 7545244368.095591,
       5075988943.443863, 2892853862.7966814, 6158978381.698725,
       1734563766.3766356, 2263191518.131122, 1022050600.7348795,
       -467959019.8610201, 4165404533.014987, 4250864717.5831895,
       33036956830.846283, 5377513442.773741, 5195397737.022172,
       3697767277.717657, 4815604820.013967, 5201214855.920563,
       7535334074.046701, 8465269884.583, 55811201.43618393,
       2154438020.734479, 179662149.87198687, 2361344882.871188,
       1239583512.6341639, 2034510020.9258528, 19181656587.976997,
       240065173.85208988, 15895349107.777863, 1788819613.4801188,
       11646876480.83537, 4552466104.57853, 2868729941.809946,
       24140204783.67192, 1439718260.9211974, 20309403848.227936,
       342760532.61716366, 1138246991.5224628, 3080430629.3465433,
       10948668903.684359, 4777641679.372209, -2026401129.5298991,
       2852748345.0162735, 33607870765.92932, 1308912985.825408,
       1138246991.5224628, 807612577.2233047, 144606667.3926816,
       1027592391.5730934, 2255486317.6475077, 7785785654.781431,
       13414997080.836548, 1773386784.213523, 7403404965.914272,
       2015598019.4450188, 18950722829.793358, 3135643416.832262,
       420471138.8664694, 5062816837.712786, 3291599403.3574076,
       2914053997.181592, 643264525.3422079, 19407374023.156036,
       6459654990.056025, 12479633718.480347, 20429694504.6662,
       3892952620.072007, 1853761412.3771791, 5200546857.782067,
       221947574.83230495, 5839134900.53228, 5959405543.8752,
       812238597.5324683, 7192237912.470894, 179792767.9247632,
       2803337534.4489183, 1138246991.5224628, -367377288.09964466,
       117343373.63444614, 1000180107.9336028, 657164418.1507835,
       2489308261.8064737, 3149378229.059671, 4224299759.4575663,
       4429432558.861947, 721147747.2237692, 8148772471.90897,
       12994049829.13633, -1228617175.480218, 1675646780.070198,
       2451476695.780297, 10328148814.160614, 1138246991.5224628,
       106528829.3257308, 1087727713.2445536, 3056230454.4672575,
       991907048.3908682, 2936539845.997752, 2647006633.44687,
       4637600485.683049, 2515592594.297533, 1934794554.440683,
       12786248794.583668, 13117576019.585613, 901669856.4986563,
       10132439584.573002, 645859042.1920385, 17837019.280065536,
       8008653017.663849, 3937705102.681408, 17053186728.481258,
       1099867435.7673216, 9326983557.47696, 3291599403.3574076,
       22520315848.893757, 5959405543.8752, 4674711801.800987,
       8506964094.640635, 5385575764.761787, 1538729659.0510225,
       2852714708.685065, 12452051945.470858, -3087436841.8013935,
       2666372634.1286144, 3157516142.719407, 148808530.77992773,
       3649511500.8955607, 5032623898.494374, 8284863919.56862,
       3940016629.689418, 3937705102.681408, 1019365063.9833946,
       4421099203.061098, 5140411536.110607, 6516682286.250196,
       4679884139.596677, 3797131955.218322, 9240258292.578745,
       2597268649.182927, 4983625711.1020975, 16820795215.756271,
       16331562868.42374, 3915154331.211501, 501222563.0005321,
       21337947950.515186, 2597442756.0392075, 6750432414.5440235,
       10267257808.81498, -208587131.47517204, 23538851566.95732,
       -538306696.3558273, -481332441.0516195, 3190135469.566855,
       424712191.94902897, 756288295.890769, 2481769768.3651905,
       7522923907.333159, 563405586.6769361, 2515592594.297533,
       6111362641.486518, -249061980.82264662, 1623403817.449479,
       398826891.2190032, 1138246991.5224628, 643564751.8063736,
       3579261102.9283257, 20709215888.19699, 1138246991.5224628,
       7241414171.785004, 234304727.49708366, -159749146.15567112,
       8124277124.047759, -1497877326.2493553, 3015372773.4893427,
       3828752618.506933, 1138246991.5224628, 7763465194.018999,
       5075127093.679253, 5778717075.288996, 115946523.10764408,
       2797246222.536768, 6750432414.5440235, 9728401173.292496,
       1756142307.401185, 2433872819.227872, 3884131237.7198915,
       2376839234.6632376, 7301549493.456465, 1633672525.885067,
       27723913312.02664, 5386592007.633047, 3237216454.355053,
       13835164343.914436, 6771290660.770675, 22336145133.528122,
       28168115896.43121, 19828341287.9516, 3137081360.084314,
       3837989636.1962376, 1470382670.1055646, 3005141924.3148127,
       3892952620.072007, 2034510020.9258528, 817344101.2191472,
       1516912265.8885841, 30931335138.439404, 593573827.8188243,
       1433156804.2112532, -347688376.5180998, 5857526895.616715,
       2281844031.0643797, 10448269576.290573, 1138246991.5224628,
       933658549.14184, -1725724521.1725993, 2690246186.642808,
       16403883499.784748, 13381663543.552246, 593630231.0864911,
       6360533626.081901, 994750175.7846723, 5023022145.822016,
       2755359439.49442, 3200701272.6894636, 4777150307.506752,
       8189447716.196618, 4621266123.601507, -242571116.53545094,
       21031047721.3808, 3699475343.003578, 1154195035.9241686,
       8843932645.183258, 7694385769.515451, 13354081770.542757,
       7643194550.67608, 2243933196.75897, 9325015218.55494,
       9211748184.611439, 10513995898.084478, 4343954565.878476,
       234304727.49708366, 4576143264.21866, 1598066742.3310685,
       13274629694.849192, -2026401129.5298991, 21406663489.821014,
       -1482723942.8890848, 1388404321.6018534, 3624145761.439242,
       7763465194.018999, -126670649.44993782, 349158878.0322976,
       2024877294.441556, 7041841333.96148, 19930732266.669724,
       8954304104.65688, 12975419009.942497, 7041841333.96148,
       4674437663.295057, 1584294460.3544025, 717299739.8222437,
       -167282411.50372028, -167282411.50372028, 10948668903.684359,
       674262611.3331861, 615762784.9324775, 5336200340.187047,
       2357495524.1157846, 5039191557.415752, 12923570388.226824,
       847186426.5587134, 5840306919.112248, 2539894915.7346773,
       1973488391.5081625, 5539630310.754949, 525588398.8491192,
       3742601349.1638765, 14840365136.32679, 1626854497.4480162,
       9270861725.254374, 2695418524.438498, 1792282374.9639368,
       4030957266.6824665, 1173442565.4785013, 2239218307.3773775,
       6630161771.201104, 2877579252.236562, 2773881781.193475,
       3862871992.506797, 3171328760.0144873, 11391531355.738075,
       6423363047.8707, 2539894915.7346773, 6807688273.145662,
       -292772999.20505714, 4825512585.376106, 4544825115.064517,
       2714696165.132043, 5276065018.515587, 3263374707.9430876,
       3178855714.959699, -590651564.421515, 4379207531.239377,
       8008653017.663849, 1250000000.02495, 907321748.2301736,
       -681359469.3314929, 4312372888.862762, 2436633587.902919,
       -423882656.13164425, 8289529705.701868, 8804932535.242964,
       5753633840.677202, 9005171737.388494, 1878406377.3486176,
       1842866246.0163946, 17146663179.649557, 4142890942.357543,
       4948642893.679749, 6331755292.123327, 2451587675.8682795,
       20153429263.222557, 25342911217.10112, 8143443996.856903,
       4697735807.354509, 1388404321.6018534, 2154438020.734479,
       2732328291.744381, 4954856450.336332, 7507229814.51148,
       7763315312.80604, 2882451296.100132, 18231789876.50857,
       -1147280031.0826483, 716489317.4528966, 2156470376.7279425,
       47334419123.08955, 2419624272.391757, -2308424263.095283,
       3765784388.66381, 2896540073.574179, 16060171245.758455,
       10989637352.546673, 1561992721.456377, 28385401850.412704,
       -302202250.3588829, 1312886160.8683338, 3759411369.2801285,
       4397059198.99721, 7342368061.10582, 3391338086.878373,
       144606667.3926816, 5075988943.443863, 4794982445.143907,
       3654294109.2974787, 2335186629.2831526, 994750175.7846723,
       8497499220.79006, 3080430629.3465433, 1973488391.5081625,
       1817588874.245884, 8387138871.496031, 2614957481.6110773,
       405317755.5061989, 3891863344.4371223, 643564751.8063736,
       3056467845.8063784, 2476998005.840007, 9912642681.369879,
       1194694775.2086945, -893813402.0169697, 18427349224.883224,
       20712491448.3987, 32056932032.57347, 1447223515.749631,
       1488143005.122819, 2755553846.1099577, 5997688878.573107,
       389349817.46576786, 6077154200.127518, 6554336776.505075,
       12479633718.480347, 3271067443.535453, 6271476147.991814,
       2356096488.666442, 2451587675.8682795, 1187466396.7655187,
       -1710571137.8123283, 9967336884.131855, 6254123343.000023,
       465453077.17765903, -1213168655.9324865, 3400178117.4350357,
       21031047721.3808, 19215455731.35073, 6036688988.513402,
       23039823.36837578, 1138246991.5224628, 4704084314.475963,
       10835013136.222467, 179929852.18062973, 4163548600.8640966,
       749117494.3552871, 9666660275.774555, 18581383261.937523,
       1874659232.7692232, -2086536451.2013588, -460815512.3915386,
       1948783608.7228994, 2881386719.362848, -2728802549.180624,
       756288295.890769, 26022279420.111977, 3785879590.8238916,
       3370541434.581235, 217762756.58087587, 2824151201.742405,
       7477036875.458855, -2607727874.2118564, 48867801172.66051,
       2865966817.1550694, 12211510658.785017, -14378186.899070263,
       1778040909.3907895, 2724443670.8945665, 2051915277.6016607,
       1094653769.0151253, 1307737040.108439, 4530871051.406601,
       888288011.0547104, 657164418.1507835, 4313899871.772227,
       1500737367.308413, -1861080291.9289389, 19407374023.156036,
       4312372888.862762, 13276095618.299797, 1712927656.5391774,
       1851433678.521471, 2394741916.081198, 3299396848.0884104,
       5247311968.810905, 23737137196.5965, 2178400804.274644,
       2275051307.6116924, -407823698.18955994, 2327907273.704583,
       11660393579.872578, 4356887070.476946, 4290329764.7207613,
       -1407425656.7245665, 5240100229.427036, 7426221757.764582,
       2009723911.081285, 1938541699.0200777, 1704207487.3852549,
       513036728.5823474, 794848549.6182566, 3667909415.9089327,
       11550022120.398958, 2575385272.434699, 1453711981.069003],
      dtype=object)

In [17]:

fig = plt.figure(figsize=(10, 8))
ax = fig.add_subplot(111, projection='3d')

fig.patch.set_facecolor('#2b2b2b')  
ax.set_facecolor('#2b2b2b')        

ax.scatter(X_test[:, 0], X_test[:, 1], y_test, c='green', marker='o', label='Actual Test Data', alpha=0.7)

x1_range = np.linspace(X_test[:, 0].min(), X_test[:, 0].max(), 10)  
x2_range = np.linspace(X_test[:, 1].min(), X_test[:, 1].max(), 10) 
x1_grid, x2_grid = np.meshgrid(x1_range, x2_range)

y_pred_plane = weights[0] + weights[1] * x1_grid + weights[2] * x2_grid

ax.plot_surface(x1_grid, x2_grid, y_pred_plane, color='yellow', alpha=0.5)

ax.set_title('Real Estate Price Prediction', fontsize=14, color='#e0e0e0')
ax.set_xlabel('Area (sqm)', fontsize=12, color='#e0e0e0')
ax.set_ylabel('Number of Rooms', fontsize=12, color='#e0e0e0')
ax.set_zlabel('Price', fontsize=12, color='#e0e0e0')

ax.tick_params(axis='x', colors='#e0e0e0')
ax.tick_params(axis='y', colors='#e0e0e0')
ax.tick_params(axis='z', colors='#e0e0e0')
ax.grid(color='#555555', linestyle='--', linewidth=0.5, alpha=0.6)

ax.legend(loc='upper left', fontsize=10, facecolor='#2b2b2b', edgecolor='#555555', framealpha=0.8)

plt.tight_layout()
plt.show()

In [18]:
mae, mse, rmse, r2 = lls.evaluate(y_test, y_pred_test)
print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("R-squared (RÂ²) Score:", r2)

Mean Absolute Error (MAE): 2015576756.791834
Mean Squared Error (MSE): 2.0161375915022418e+19
Root Mean Squared Error (RMSE): 4490142081.830197
R-squared (RÂ²) Score: 0.5648710939385799

In [19]:
from sklearn.linear_model import LinearRegression, RidgeCV
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
y_pred_linear = linear_model.predict(X_test)

mae_linear = mean_absolute_error(y_test, y_pred_linear)
mse_linear = mean_squared_error(y_test, y_pred_linear)
rmse_linear = np.sqrt(mse_linear)
r2_linear = r2_score(y_test, y_pred_linear)

print("Linear Regression - MAE:", mae_linear)
print("Linear Regression - MSE:", mse_linear)
print("Linear Regression - RMSE:", rmse_linear)
print("Linear Regression - R2 Score:", r2_linear)

ridge_model = RidgeCV() 
ridge_model.fit(X_train, y_train)
y_pred_ridge = ridge_model.predict(X_test)

mae_ridge = mean_absolute_error(y_test, y_pred_ridge)
mse_ridge = mean_squared_error(y_test, y_pred_ridge)
rmse_ridge = np.sqrt(mse_ridge)
r2_ridge = r2_score(y_test, y_pred_ridge)

print("Ridge Regression - MAE:", mae_ridge)
print("Ridge Regression - MSE:", mse_ridge)
print("Ridge Regression - RMSE:", rmse_ridge)
print("Ridge Regression - R2 Score:", r2_ridge)

Linear Regression - MAE: 2015418643.108126
Linear Regression - MSE: 2.016063719791692e+19
Linear Regression - RMSE: 4490059821.1958065
Linear Regression - R2 Score: 0.6969272292761572
Ridge Regression - MAE: 1999349713.0853157
Ridge Regression - MSE: 1.8548444448092664e+19
Ridge Regression - RMSE: 4306790504.319041
Ridge Regression - R2 Score: 0.72116315589065